.header-logo  {
    display: flex;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 92px;

    color: $title-text-color;

    @include logo;
}

.logo-accent{
    color: $accent-color;
}

.footer-logo {
    padding: 0;
    margin-bottom: 20px;

    display: block;
    color: $minor-color;
    

    @include logo;
}
